{% extends 'account.html' %}

{% load static i18n %}

{% block body_attribute %}
class="dashboard"
{% endblock body_attribute %}

{% block page_content %}

<!-- Main content START -->
<div class="col-lg-8 col-xl-9 ps-xl-5">

  <!-- Offcanvas menu button -->
  <div class="d-grid mb-0 d-lg-none w-100">
    <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar"
            aria-controls="offcanvasSidebar">
      <i class="fas fa-sliders-h"></i> Menu
    </button>
  </div>

  <div class="card border bg-transparent">
    <!-- Card header -->
    <div class="card-header bg-transparent border-bottom">
      <h4 class="card-header-title">My Bookings</h4>
    </div>

    <!-- Card body START -->
    <div class="card-body p-0">

      <!-- Tabs -->
      <ul class="nav nav-tabs nav-bottom-line nav-responsive nav-justified">
        <li class="nav-item">
          <a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1">
            <i class="bi bi-briefcase-fill fa-fw me-1"></i>Upcoming Booking
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-2">
            <i class="bi bi-x-octagon fa-fw me-1"></i>Canceled Booking
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-3">
            <i class="bi bi-patch-check fa-fw me-1"></i>Completed Booking
          </a>
        </li>
      </ul>

      <!-- Tabs content START -->
      <div class="tab-content p-2 p-sm-4" id="nav-tabContent">

        <!-- Tab content item START (Upcoming Bookings) -->
        <div class="tab-pane fade show active" id="tab-1">
          <h6>Upcoming Booking ({{ upcoming_bookings|length }})</h6>
          {% for booking in upcoming_bookings %}
          <!-- Card item START -->
          <div class="card border mb-4">
            <!-- Card header -->
            <div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
              <!-- Icon and Title -->
              <div class="d-flex align-items-center">
                <div class="icon-lg bg-light rounded-circle flex-shrink-0">
                  <i class="fa-solid fa-{% if booking.trip.vehicle_type == 'plane' %}plane{% elif booking.trip.vehicle_type == 'car' %}car{% else %}bus{% endif %}"></i>
                </div>
                <!-- Title -->
                <div class="ms-2">
                  <h6 class="card-title mb-0">{{ booking.trip.departure_city }} to {{ booking.trip.arrival_city }}</h6>
                  <ul class="nav nav-divider small">
                    <li class="nav-item">Booking ID: {{ booking.id }}</li>
                    <li class="nav-item">{{ booking.trip.vehicle_type|title }}</li>
                  </ul>
                </div>
              </div>

              <!-- Button -->
              <div class="mt-2 mt-md-0">
                <a href="{% url 'pages:booking_confirm' booking_id=booking.id %}" class="btn btn-primary-soft mb-0">Manage Booking</a>
              </div>
            </div>

            <!-- Card body -->
            <div class="card-body">
              <div class="row g-3">
                <div class="col-sm-6 col-md-4">
                  <span>Departure time</span>
                  <h6 class="mb-0">{{ booking.trip.departure_time }}</h6>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>Duration</span>
                  <h6 class="mb-0">{{ booking.trip.duration }}</h6>
                </div>
                <div class="col-md-4">
                  <span>Booked by</span>
                  <h6 class="mb-0">{{ booking.traveler.title }} {{ booking.traveler.first_name }} {{ booking.traveler.last_name }}</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Card item END -->
          {% empty %}
          <div class="bg-mode shadow p-4 rounded overflow-hidden">
            <div class="row g-4 align-items-center">
              <div class="col-md-9">
                <h6>No upcoming bookings found</h6>
                <h4 class="mb-2">Book your trip to see it here!</h4>
                <a href="{% url 'pages:dynamic_pages' template_name='hotel-list' %}" class="btn btn-primary-soft mb-0">Start booking now</a>
              </div>
              <div class="col-md-3 text-end">
                <img src="{% static 'images/element/17.svg' %}" class="mb-n5" alt="">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Tab content item END -->

        <!-- Tab content item START (Canceled Bookings) -->
        <div class="tab-pane fade" id="tab-2">
          <h6>Canceled Booking ({{ canceled_bookings|length }})</h6>
          {% for booking in canceled_bookings %}
          <!-- Card item START -->
          <div class="card border mb-4">
            <!-- Card header -->
            <div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
              <!-- Icon and Title -->
              <div class="d-flex align-items-center">
                <div class="icon-lg bg-light rounded-circle flex-shrink-0">
                  <i class="fa-solid fa-{% if booking.trip.vehicle_type == 'plane' %}plane{% elif booking.trip.vehicle_type == 'car' %}car{% else %}bus{% endif %}"></i>
                </div>
                <!-- Title -->
                <div class="ms-2">
                  <h6 class="card-title mb-0">{{ booking.trip.departure_city }} to {{ booking.trip.arrival_city }}</h6>
                  <ul class="nav nav-divider small">
                    <li class="nav-item">Booking ID: {{ booking.id }}</li>
                    <li class="nav-item">{{ booking.trip.vehicle_type|title }}</li>
                  </ul>
                </div>
              </div>

              <!-- Button -->
              <div class="mt-2 mt-md-0">
                <a href="{% url 'pages:booking_confirm' booking_id=booking.id %}" class="btn btn-primary-soft mb-0">Manage Booking</a>
                <p class="text-danger text-md-end mb-0">Booking cancelled</p>
              </div>
            </div>

            <!-- Card body -->
            <div class="card-body">
              <div class="row g-3">
                <div class="col-sm-6 col-md-4">
                  <span>Departure time</span>
                  <h6 class="mb-0">{{ booking.trip.departure_time }}</h6>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>Duration</span>
                  <h6 class="mb-0">{{ booking.trip.duration }}</h6>
                </div>
                <div class="col-md-4">
                  <span>Booked by</span>
                  <h6 class="mb-0">{{ booking.traveler.title }} {{ booking.traveler.first_name }} {{ booking.traveler.last_name }}</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Card item END -->
          {% empty %}
          <div class="bg-mode shadow p-4 rounded overflow-hidden">
            <div class="row g-4 align-items-center">
              <div class="col-md-9">
                <h6>No canceled bookings found</h6>
                <h4 class="mb-2">Book your trip to see it here!</h4>
                <a href="{% url 'pages:dynamic_pages' template_name='hotel-list' %}" class="btn btn-primary-soft mb-0">Start booking now</a>
              </div>
              <div class="col-md-3 text-end">
                <img src="{% static 'images/element/17.svg' %}" class="mb-n5" alt="">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Tab content item END -->

        <!-- Tab content item START (Completed Bookings) -->
        <div class="tab-pane fade" id="tab-3">
          {% if completed_bookings %}
          <h6>Completed Booking ({{ completed_bookings|length }})</h6>
          {% for booking in completed_bookings %}
          <!-- Card item START -->
          <div class="card border mb-4">
            <!-- Card header -->
            <div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
              <!-- Icon and Title -->
              <div class="d-flex align-items-center">
                <div class="icon-lg bg-light rounded-circle flex-shrink-0">
                  <i class="fa-solid fa-{% if booking.trip.vehicle_type == 'plane' %}plane{% elif booking.trip.vehicle_type == 'car' %}car{% else %}bus{% endif %}"></i>
                </div>
                <!-- Title -->
                <div class="ms-2">
                  <h6 class="card-title mb-0">{{ booking.trip.departure_city }} to {{ booking.trip.arrival_city }}</h6>
                  <ul class="nav nav-divider small">
                    <li class="nav-item">Booking ID: {{ booking.id }}</li>
                    <li class="nav-item">{{ booking.trip.vehicle_type|title }}</li>
                  </ul>
                </div>
              </div>

              <!-- Button -->
              <div class="mt-2 mt-md-0">
                <a href="{% url 'pages:booking_confirm' booking_id=booking.id %}" class="btn btn-primary-soft mb-0">Manage Booking</a>
              </div>
            </div>

            <!-- Card body -->
            <div class="card-body">
              <div class="row g-3">
                <div class="col-sm-6 col-md-4">
                  <span>Departure time</span>
                  <h6 class="mb-0">{{ booking.trip.departure_time }}</h6>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>Duration</span>
                  <h6 class="mb-0">{{ booking.trip.duration }}</h6>
                </div>
                <div class="col-md-4">
                  <span>Booked by</span>
                  <h6 class="mb-0">{{ booking.traveler.title }} {{ booking.traveler.first_name }} {{ booking.traveler.last_name }}</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Card item END -->
          {% endfor %}
          {% else %}
          <div class="bg-mode shadow p-4 rounded overflow-hidden">
            <div class="row g-4 align-items-center">
              <div class="col-md-9">
                <h6>Looks like you have never booked with BOOKING</h6>
                <h4 class="mb-2">When you book your trip, it will be shown here.</h4>
                <a href="{% url 'pages:dynamic_pages' template_name='hotel-list' %}" class="btn btn-primary-soft mb-0">Start booking now</a>
              </div>
              <div class="col-md-3 text-end">
                <img src="{% static 'images/element/17.svg' %}" class="mb-n5" alt="">
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <!-- Tab content item END -->
      </div>
      <!-- Tabs content END -->
    </div>
    <!-- Card body END -->
  </div>
</div>
<!-- Main content END -->

{% endblock page_content %}

{% block extra_javascript %}
<!-- Inclure tout JavaScript supplémentaire si nécessaire -->
{% endblock extra_javascript %}
