{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<main class="min-vh-100 d-flex align-items-center bg-light">

  <div class="container-fluid px-0">
    <div class="row g-0 min-vh-100">

      <!-- Image gauche plein écran -->
      <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center">
        <img src="https://images.unsplash.com/photo-1661345672444-8cfc36e5509a?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
             alt="Voyage"
             class="img-fluid h-100 w-100 object-fit-cover">
      </div>

      <!-- Formulaire -->
      <div class="col-lg-6 d-flex align-items-center bg-white">
        <div class="w-100 p-5 p-xl-6">

          <!-- Logo -->
          <div class="text-center mb-4">
            <a href="/">
              <img src="{% static 'images/bg/logo (1).png' %}" alt="logo" style="width: 200px;">
            </a>
          </div>

          <!-- Titre -->
          <h4 class="text-center">Créer votre compte Asieniantour</h4>
          <p class="text-center text-muted">Déjà membre ?
            <a href="{% url 'pages:dashboard' %}" class="text-primary">Se connecter</a>
          </p>

          <!-- Form START -->
          <form method="post" class="mt-4">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
              {{ form.errors }}
            </div>
            {% endif %}

            <div class="mb-3">
              {{ form.as_p }}
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2 rounded-3">S'inscrire</button>
          </form>
          <!-- Form END -->

          <!-- Divider -->
          <div class="position-relative my-4 text-center">
            <hr>
            <span class="small px-2 bg-white text-muted">Ou continuer avec</span>
          </div>

          <!-- Réseaux sociaux -->
          <div class="d-flex gap-3">
<!--            <button class="btn btn-outline-dark flex-fill rounded-3">-->
<!--              <i class="bi bi-google"></i> Google-->
<!--            </button>-->
<!--            <button class="btn btn-outline-dark flex-fill rounded-3">-->
<!--              <i class="bi bi-facebook"></i> Facebook-->
<!--            </button>-->
          </div>

          <!-- Footer -->
          <div class="text-center mt-4 small text-muted">
            ©2025 Asieniantour.
          </div>

        </div>
      </div>
    </div>
  </div>

</main>

{% endblock content %}
