{% extends 'admin.html' %}
{% load static i18n %}

{% block page_content %}
<!-- Title -->
<div class="row">
  <div class="col-12 mb-4 mb-sm-5">
    <h1 class="h3 mb-0">Gestion des avis</h1>
  </div>
</div>

<!-- Review box START -->
<div class="row g-4 g-xl-5 mb-5">
  <!-- Total Reviews -->
  <div class="col-md-6 col-lg-4">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Total des avis</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h2 class="mb-0 me-2">{{ total_reviews }}</h2>
        <div class="badge bg-success bg-opacity-10 text-success">{{ growth_percentage }}% <i class="bi bi-graph-up"></i></div>
      </div>
      <p class="mb-0">Croissance des avis cette année</p>
    </div>
  </div>
</div>
<!-- Review box END -->

<!-- Tab and select -->
<div class="row g-4 justify-content-between align-items-center">
  <div class="col-lg-5">
    <!-- Tabs -->
    <ul class="nav nav-pills-shadow nav-responsive" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link mb-0 me-sm-2 {% if selected_status == 'all' %}active{% endif %}" href="?status=all" role="tab">Tous les avis</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link mb-0 me-sm-2 {% if selected_status == 'published' %}active{% endif %}" href="?status=published" role="tab">Publiés</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link mb-0 {% if selected_status == 'deleted' %}active{% endif %}" href="?status=deleted" role="tab">Supprimés</a>
      </li>
    </ul>
  </div>

  <!-- Select -->
  <div class="col-md-6 col-lg-3">
    <form>
      <select class="form-select js-choice" name="trip_id" onchange="this.form.submit()">
        <option value="">Trier par voyage</option>
        {% for trip in trips %}
        <option value="{{ trip.id }}" {% if selected_trip_id == trip.id|stringformat:"s" %}selected{% endif %}>{{ trip.departure_city }} à {{ trip.arrival_city }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
</div>

<!-- Reviews START -->
<div class="vstack gap-4 mt-5">
  {% for review in reviews %}
  <!-- Review item -->
  <div class="row g-3 g-lg-4">
    <div class="col-md-4 col-xxl-3">
      <!-- Avatar and info -->
      <div class="d-flex align-items-center">
        <!-- Avatar -->
        <div class="avatar avatar-xl me-2 flex-shrink-0">
          <img class="avatar-img rounded-circle" src="{% static 'images/avatar/09.jpg' %}" alt="avatar">
        </div>
        <!-- Info -->
        <div class="ms-2">
          <h5 class="mb-1">{{ review.traveler.first_name }} {{ review.traveler.last_name }}</h5>
          <p class="mb-0">Séjour le {{ review.created_at|date:"d M Y" }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-xxl-9">
      <h6><span class="text-body fw-light">Avis sur :</span> {{ review.trip.departure_city }} à {{ review.trip.arrival_city }}</h6>
      <p>{{ review.comment|truncatechars:200 }}</p>

      <!-- Button -->
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <a href="{% url 'backoffice:direct_message' review.traveler.id %}" class="btn btn-sm btn-primary-soft mb-0">Message direct</a>
          <a class="btn btn-sm btn-light mb-0" data-bs-toggle="collapse" href="#collapseComment-{{ review.id }}" role="button" aria-expanded="false" aria-controls="collapseComment-{{ review.id }}">Répondre</a>
        </div>
        <a href="#" class="text-primary-hover delete-review" data-id="{{ review.id }}"><i class="bi bi-trash3 me-1"></i>Supprimer</a>
      </div>
      <!-- Collapse textarea -->
      <div class="collapse" id="collapseComment-{{ review.id }}">
        <div class="d-flex mt-3">
          <textarea class="form-control mb-0 reply-textarea" placeholder="Ajouter une réponse..." rows="2" spellcheck="false"></textarea>
          <button class="btn btn-sm btn-primary ms-2 px-4 mb-0 flex-shrink-0 reply-submit" data-id="{{ review.id }}"><i class="fas fa-paper-plane fs-5"></i></button>
        </div>
      </div>
    </div>
  </div>
  <hr class="m-0">
  {% empty %}
  <div class="row">
    <div class="col-12">
      <p>Aucun avis trouvé.</p>
    </div>
  </div>
  {% endfor %}

  <!-- Pagination START -->
  <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
    <p class="mb-sm-0 text-center text-sm-start">Affichage de {{ reviews.start_index }} à {{ reviews.end_index }} sur {{ reviews.paginator.count }} entrées</p>
    <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
      <ul class="pagination pagination-sm pagination-primary-soft mb-0">
        {% if reviews.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ reviews.previous_page_number }}{% if selected_status %}&status={{ selected_status }}{% endif %}{% if selected_trip_id %}&trip_id={{ selected_trip_id }}{% endif %}">Précédent</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Précédent</a>
        </li>
        {% endif %}
        {% for num in reviews.paginator.page_range %}
        <li class="page-item {% if reviews.number == num %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}{% if selected_status %}&status={{ selected_status }}{% endif %}{% if selected_trip_id %}&trip_id={{ selected_trip_id }}{% endif %}">{{ num }}</a>
        </li>
        {% endfor %}
        {% if reviews.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ reviews.next_page_number }}{% if selected_status %}&status={{ selected_status }}{% endif %}{% if selected_trip_id %}&trip_id={{ selected_trip_id }}{% endif %}">Suivant</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Suivant</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <!-- Pagination END -->
</div>
<!-- Reviews END -->

{% endblock page_content %}

{% block extra_javascript %}
<script>
  document.querySelectorAll('.reply-submit').forEach(button => {
    button.addEventListener('click', async () => {
      const reviewId = button.dataset.id;
      const textarea = button.previousElementSibling;
      const replyText = textarea.value;
      if (replyText) {
        const response = await fetch(`/backoffice/reply-to-review/${reviewId}/`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: `reply_text=${encodeURIComponent(replyText)}`
        });
        const data = await response.json();
        alert(data.message);
        if (data.success) {
          textarea.value = ''; // Réinitialiser le textarea
          window.location.reload();
        }
      } else {
        alert('Veuillez entrer une réponse.');
      }
    });
  });

  document.querySelectorAll('.delete-review').forEach(button => {
    button.addEventListener('click', async (event) => {
      event.preventDefault();
      if (confirm('Voulez-vous vraiment marquer cet avis comme supprimé ?')) {
        const reviewId = button.dataset.id;
        const response = await fetch(`/backoffice/delete-review/${reviewId}/`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        });
        const data = await response.json();
        alert(data.message);
        if (data.success) window.location.reload();
      }
    });
  });
</script>
{% endblock extra_javascript %}
